@import "tailwindcss";

:root {
    --main-bg: #F5F5F5;
    --tile-bg: #599BB3;
    --tile-bg-2: #408C99;
    --tile-border: #599BB3;
    --tile-shadow: #276873;

    --primary: #153c90;
    --accent: #2764f3;

    --tile-border-radius: 16px;

    --text-color: #FFFFFF;
    --text-shadow: #3D768A;
    --border-radius: 10px;
    --font: Sans-serif;
}